<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mezcales</title>
</head>

<body>
    <header>
        <h1>Mezcales de Sabores </h1>
        <nav>
            <ul>
                <li> <a href="#inicio"></a></li>
                <li><a href="#productos"></a></li>
                <li><a href="#contacto"></a></li>
            </ul>
        </nav>
    </header>

    <section id="inicio">
        <h2>Don Jarana</h2>
        <p>La Tierra del Buen Mezcal</p>
    </section>

    <section id="productos">
        <h2>Chingatelo que es Tuyo</h2>
        <p>La Mejor Variedad de Mezcal</p>
    </section>

    <section id="contacto"></section>
    <h2>contacto</h2>
    <p>Contactanos al Siguiente Numero</p>
</body>

</html>